@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";

:root {
  font-family: "Montserrat", sans-serif;

  --skyBlue: #2274e0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.loader-letter {
  opacity: 0;
  transform: translateY(20px);
}

*,
::after,
::before {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
